{% extends 'templatebackoffice/base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <div class="container" style="max-width: 800px; margin: 40px auto;">
        <div class="mb-5 p-3 rounded">
            <h1 style="color: #2c5f2d; border-bottom: 3px solid #2c5f2d; padding-bottom: 10px; margin-bottom: 30px;">
            <i class="fas fa-user" style="margin-right: 10px;"></i>
            Edit User
        </div>
    
        {{ include('templatebackoffice/user/_form.html.twig', {'button_label': 'Update'}) }}
        
        
    </div>
{% endblock %}
