{% extends 'templatebackoffice/index.html.twig' %}
{% block active %}
    <li class="sidebar-item">
        <a class="sidebar-link" href="/templatebackoffice" aria-expanded="false">
            <span><i class="ti ti-layout-dashboard"></i></span>
            <span class="hide-menu">Home</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/templatebackoffice/user-management" style="background-color: #379226" aria-expanded="false">
            <span><i class="ti ti-user"></i></span>
            <span class="hide-menu">User Management</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/templatebackoffice/shop-management" aria-expanded="false">
            <span><i class="ti ti-recycle"></i></span>
            <span class="hide-menu">Shop Management</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/templatebackoffice/collect-management" aria-expanded="false">
            <span><i class="ti ti-map-pin"></i></span>
            <span class="hide-menu">Collect Management</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/templatebackoffice/forum-management" aria-expanded="false">
            <span><i class="ti ti-message-circle"></i></span>
            <span class="hide-menu">Forum Management</span>
        </a>
    </li>
{% endblock %}


{% block title %}New User{% endblock %}

{% block body %}
    <div class="container" style="max-width: 800px; margin: 40px auto;">
        <div class="mb-5 p-3 rounded" style="background-color: #379226;">
            <h1 class="text-center text-white mb-0">
                <i class="fas fa-user-plus me-2"></i>Create New User
            </h1>
        </div>

        {{ include('templatebackoffice/user/_formAdd.html.twig') }}

        <div class="mt-4 text-center">
            <a href="{{ path('admin_user_management') }}" class="btn btn-outline-success">
                <i class="fas fa-arrow-left me-2"></i>Back to List
            </a>
        </div>
    </div>
{% endblock %}
