{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <form>
        {{ form_widget(form) }}
        <br>
        &nbsp<button type="submit" class="btn btn-primary">Submit</button>
    </form>
{{ form_end(form) }}

