<form method="post" action="{{ path('app_collect_delete', {'id': collect.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collect.id) }}">
    <button class="btn">Delete</button>
</form>
