{% extends 'base.html.twig' %}

{% block title %}Edit Collect{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Edit Collect</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">
            <i class="bi bi-save"></i> Save Changes
        </button>
    {{ form_end(form) }}

    <a href="{{ path('app_collect_index') }}" class="btn btn-secondary mt-3">
        <i class="bi bi-arrow-left"></i> Back to List
    </a>
</div>