{% extends 'base.html.twig' %}

{% block title %}Payment fail{% endblock %}

{% block body %}
<br><br><br><br><br>

<h1>Thanks for your attempted order!</h1>
    <p>
      We would appreciate your business!
     but your payment faild !
      <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>
{% endblock %}
