{% extends 'base.html.twig' %}

{% block title %}make payment{% endblock %}

{% block body %}
</br>
<br>
<form action="/checkout" method="POST">
      <button type="submit" class="btn btn-primary btn-lg">Checkout</button>
    </form>
{% endblock %}
