{% extends 'templatefrontoffice/base.html.twig' %}

{% block title %}Post Reclamation{% endblock %}

{% block active %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/templatefrontoffice">HOME</a>
            </li>
            <li class="nav-item dropdown {{ 'annonce' in app.request.get('_route') ? 'active' : '' }}">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    ANNONCE
                </a>
                <div class="dropdown-menu">
                    {% if app.user and 'ROLE_ENTREPRISE' not in app.user.roles %}
                        <a class="dropdown-item" href="/templatefrontoffice/annonce/myAnnoncements">
                            My Announcements
                        </a>
                    {% endif %}
                    <a class="dropdown-item" href="/templatefrontoffice/annonce/">Shop Announcement</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="/templatefrontoffice/collect">COLLECT</a></li>
            <li class="nav-item"><a class="nav-link" href="/templatefrontoffice/forum">FORUM</a></li>
            <li class="nav-item"><a class="nav-link" href="/templatefrontoffice/reclamation">COMMANDES</a></li>
            <li class="nav-item active"><a class="nav-link" href="/templatefrontoffice/reclamation">RECLAMATION</a></li>

            {# Cart icon inside collapse #}
            <li class="nav-item ms-3 me-4 mr-5 position-relative">
                <a class="nav-link text-white p-0" href="/cart">
                    <i class="fa fa-shopping-cart fs-5"></i>
                    <span class="cart-counter">{{ cart_count() }}</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}




 
{% block body %}
  <section id="hero" class="hero">

   <img src="{{ asset('front/img/reclamation_bg.png') }}" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          
        </div>
      </div>

</section>{# End Hero Section #}


<section id="contact" class="contact">
      <div class="container section-title" data-aos="fade-up">
        
        <div class="container section-title" data-aos="fade-up">
        <h2>Reclamation</h2>
        </div>
        <h5 data-aos="fade-up" data-aos-delay="100">Merci de fournir autant de détails que possible pour nous aider à traiter votre réclamation efficacement</h5>
      </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">

      <div class="col-lg-6">
        <h3 style="color:#28a745; text-align:center; font-size:20px">Vos Reclamations</h3>
        {% include 'reclamation/showAll.html.twig' %}
      </div>


      <div class="col-lg-6">
      {{ include('reclamation/form.html.twig', {'formAction': path('new')}) }}
      </div>
    </div>
    </div>
</section>
{% endblock %}

