{% extends 'base.html.twig' %}

{% block title %}Edit CategorieCollect{% endblock %}

{% block body %}
    <h1>Edit CategorieCollect</h1>

    {{ include('categorie_collect/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_collect_index') }}">back to list</a>

    {{ include('categorie_collect/_delete_form.html.twig') }}
{% endblock %}
