
{% extends 'templatebackoffice/index.html.twig' %}


{% block title%}CollectManagement{% endblock %}


{% block active %}

            <li class="sidebar-item " >
              <a class="sidebar-link" href="/templatebackoffice"  aria-expanded="false" >
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Home</span>
              </a>
            </li>
            
            <li class="sidebar-item">
              <a class="sidebar-link" href="/templatebackoffice/user-management"  aria-expanded="false">
                <span>
                  <i class="ti ti-user"></i>
                </span>
                <span class="hide-menu">User Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/templatebackoffice/shop-management" aria-expanded="false">
                <span>
                  <i class="ti ti-recycle "></i>
                </span>
                <span class="hide-menu">Shop Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/templatebackoffice/collect-management" style="background-color: #379226" aria-expanded="false">
                <span>
                  <i class="ti ti-map-pin"></i>
                </span>
                <span class="hide-menu">Collect Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/templatebackoffice/forum-management" aria-expanded="false">
                <span>
                  <i class="ti ti-message-circle"></i>
                </span>
                <span class="hide-menu">Forum Management</span>
              </a>
            </li>

                                    {% endblock %}






{% block body %}






{% endblock %}