
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title%}LiveCycleDashboard{% endblock %}</title>
  <link rel="shortcut icon" type="image/png" href="{{asset('backoffice/images/logos/livecycle.jpg')}}" />
  <link rel="stylesheet" href="{{asset('backoffice/css/styles.min.css')}}" />
</head>


<style>
.nav-link.nav-icon-hover:hover i {
    color: green; 
}
.notification {
    background-color: green; /
}
</style>






{% block stylesheets %}{% endblock %}







                                      <!-- BODY BLOCKKK -->








{% block header %}
<body>

  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
 
    <aside class="left-sidebar">
    
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="" class="text-nowrap logo-img">
            <img src="{{asset('backoffice/images/logos/livecycle.jpg')}}" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"  id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav" >
            





                        {% block active %}

            <li class="sidebar-item " >
              <a class="sidebar-link" href="/templatebackoffice" style="background-color: #379226" aria-expanded="false" >
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Home</span>
              </a>
            </li>
            
            <li class="sidebar-item">
              <a class="sidebar-link" href="/templatebackoffice/user-management"  aria-expanded="false">
                <span>
                  <i class="ti ti-user"></i>
                </span>
                <span class="hide-menu">User Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/templatebackoffice/shop-management" aria-expanded="false">
                <span>
                  <i class="ti ti-recycle "></i>
                </span>
                <span class="hide-menu">Shop Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/templatebackoffice/collect-management" aria-expanded="false">
                <span>
                  <i class="ti ti-map-pin"></i>
                </span>
                <span class="hide-menu">Collect Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/templatebackoffice/forum-management" aria-expanded="false">
                <span>
                  <i class="ti ti-message-circle"></i>
                </span>
                <span class="hide-menu">Forum Management</span>
              </a>
            </li>

                                    {% endblock %}







          </ul>
        </nav>
      </div>
    </aside>
    <div class="body-wrapper">
   
      
    



      {% endblock %}



      {% block scripts %} {% endblock %}


























                                <!-- BODY BLOCKKK -->


{% block body%}
      

{% endblock %}




