{% extends 'templatebackoffice/index.html.twig' %}

{% block title %}Back Office{% endblock %}


{% block active %}

            <li class="sidebar-item " >
              <a class="sidebar-link" href="/templatebackoffice"  aria-expanded="false" >
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Home</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/templatebackoffice/user-management"  aria-expanded="false">
                <span>
                  <i class="ti ti-user"></i>
                </span>
                <span class="hide-menu">User Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/templatebackoffice/shop-management" style="background-color: #379226" aria-expanded="false">
                <span>
                  <i class="ti ti-recycle "></i>
                </span>
                <span class="hide-menu">Shop Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/templatebackoffice/collect-management"  aria-expanded="false">
                <span>
                  <i class="ti ti-map-pin"></i>
                </span>
                <span class="hide-menu">Collect Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/templatebackoffice/forum-management"  aria-expanded="false">
                <span>
                  <i class="ti ti-message-circle"></i>
                </span>
                <span class="hide-menu">Forum Management</span>
              </a>
            </li>

                                    {% endblock %}



{% block body %}
    <div class="container">
        <!-- Annonce Table Header -->
        <div class="mb-4">
            <h1 class="text-dark" style="font-size: 2.5rem; font-weight: 700; border-bottom: 2px solid #333; padding-bottom: 10px;">
                Annonce Table
            </h1>
            {% include 'annonce/index.html.twig' %}
        </div>

        <!-- Category Table Header -->
        <div class="mt-5">

            {% include 'category/index.html.twig' %}
        </div>
    </div>
{% endblock %}
