{% extends 'templatebackoffice/index.html.twig' %}
{% block title %}{% endblock %}

{% block body %}

    {{ include('templatebackoffice/commande/_form.html.twig', {'button_label': 'Update'}) }}





</div>

{% endblock %}